[project]
	description = Automatically exported from code.google.com/p/lslvault
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/salahzar (salahzar)
[access "refs/for/refs/*"]
	read = group user/salahzar (salahzar)
	push = group user/salahzar (salahzar)
	label-Code-Review = -2..+2 group user/salahzar (salahzar)
	label-Verified = -1..+1 group user/salahzar (salahzar)
	rebase = group user/salahzar (salahzar)
	removeReviewer = group user/salahzar (salahzar)
	submit = group user/salahzar (salahzar)
[access "refs/heads/*"]
	read = group user/salahzar (salahzar)
	create = group user/salahzar (salahzar)
	push = +force group user/salahzar (salahzar)
	pushMerge = group user/salahzar (salahzar)
[access "refs/tags/*"]
	push = +force group user/salahzar (salahzar)
	pushTag = group user/salahzar (salahzar)
	pushSignedTag = group user/salahzar (salahzar)
